.itemDetail{
  width:700px;
  height:450px;
  box-shadow: 10px 10px 18px 1px rgba(187,182,182,0.75);
  border-radius:10px;
  display:flex;
  transform: translate(-50%, -50%);
  position:fixed;
  top:50%;
  left:50%
}

.cover{
  width:450px;

}

 img{
  width:100%;
}

.listaDetail{
  list-style-type: none;
  text-align: center
}

.itemDescription{
  width:200px;
}

.description{
  margin-left:45px;
  font-size: 17px
}