.itemsCounterCard{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  width: 550px;
  height: 500px;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid grey;
  margin-top:50px

}

.theButtons{

  height:50px;
  border: 1px solid grey;
  width:450px;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: 25px;
  border-radius: 5px


}

.add{

  cursor:none;
  font-size: 40px;
  user-select: none;

}


.rest{

  cursor:none;
  font-size: 40px;
  user-select: none;

}


.add:hover{

  cursor: pointer;

}


.rest:hover{

  cursor: pointer;

}

.itemName{

  font-size: 35px

}


.stock{

  font-size:25px

}

button{

  user-select: none

}